.ez-character-counter, .ez-data-source__richtext {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom: .0625rem solid #ededed !important;
}
.elements-path-wrapper {
  background-color: #ededed;
  padding: 0 15px;
  border: 0.0625rem solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0 0 0.25rem 0.25rem;
  ul {
    display: inline-block;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 3px;
    li {
      display: block;
      float: left;
      margin-right: 5px;
      &:after {
        content:'   /';
        font-size: 12px;
      }
      &:last-of-type:after {
        content: '';
      }
      a {
        font-size: 12px;
      }
    }
  }
}